<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Import Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<script>
    function handleCartAction(productId) {
        const button = document.getElementById('cartButton-' + productId);

        if (!button.dataset.cartAdded) {
            alert("Product added to cart!");
            button.dataset.cartAdded = true; // Mark this button as added to cart
            button.textContent = 'Go to Cart'; // Change the button text
        } else {
            window.location.href = '/cart'; // Redirect to cart
        }
    }
</script>

<body>
<h1>MegaDeals Store</h1>
<div class="tbl-div">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${productsList}">
            <td></td>
            <td></td>
            <td>
                <a class="no-link-style" th:href="@{/showProductDetails/{id}(id=${item.id})}" th:text="${item.name}"></a>
            </td>
            <td th:text="${item.price}"></td>
            <td>
                <button id="cartButton-" + th:text="${item.id}" class="btn btn-primary" onclick="handleCartAction(${item.id})">
                    Add to Cart
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
