.error {
    color: red;
}

.table-div {
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-30%, -30%);
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.pagination {
    margin: 0;
}
.pagination a {
    color: #007bff;
}
.pagination .page-item.disabled a {
    color: #ccc;
}
a {
    text-decoration: none;
    color: inherit; /* Keeps the same color as surrounding text */
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
.cart-btn {
    background-color: #28a745; /* Green */
    color: white; /* Text color */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.cart-btn:hover {
    background-color: #218838; /* Darker green on hover */
}
.rating {
    display: flex;
    align-items: center;
    font-size: 24px;
}
.star-rating {
    font-size: 1.5em;
    color: #ffcc00;
}
