.text-center{
    font-family: fantasy;
}
.first-part{
    color : red;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}