.text-center{
    font-family: fantasy;
}
.slogan{
    font-family: "Times New Roman";
    font-size: 10px;
    font-weight: bold;
}
.first-part{
    color : red;
}
a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}