.error {
    color: red;
}




.table-div {
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(-30%, -30%);
}

.test
{
    color: #20c997;
}
.no-link-style {
    color: inherit; /* Keeps the same text color as surrounding elements */
    text-decoration: none; /* Removes the underline */
}

.no-link-style:hover {
    text-decoration: none; /* Removes the underline on hover */
    cursor: pointer; /* Optional: Changes cursor to a pointer to indicate it's clickable */
}